.idea/*
crawlerOutput/*
openssl-1.1.0g/*
.vagrant/*
cmake*
CMakeLists.txt
Vagrantfile
cmake-build-debug/*
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
eecs398_search.cbp
main
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile

\.DS_Store
.vscode/settings.json
.DS_Store

indexer/tests/twitter/

.idea/workspace.xml
cmake-build-debug/CMakeFiles/ParserTest.dir/progress.make
cmake-build-debug/CMakeFiles/StemmerTest.dir/progress.make
cmake-build-debug/CMakeFiles/StringProcessingTest.dir/progress.make
cmake-build-debug/CMakeFiles/TokenizerTest.dir/progress.make
cmake-build-debug/CMakeFiles/URLTEST.dir/progress.make
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/crawler-parser-test.dir/build.make
cmake-build-debug/CMakeFiles/crawler-parser-test.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/crawler-parser-test.dir/objects1.rsp
cmake-build-debug/CMakeFiles/crawler-parser-test.dir/progress.make
cmake-build-debug/CMakeFiles/search-engine.dir/progress.make
cmake-build-debug/eecs398_search.cbp
Vagrantfile
